<h2>Wines in the Cellar</h2>

<ul>
	
	<li>
		<% @wines.each do |wine| %>
			<h3><%= wine.name %></h3>
			<p>A <%= wine.style %> produced by <%= wine.winemaker %> from <%= wine.region %> A <%= wine.year %> vintage </p>
		<% end %>

	</li>	


</ul>

